name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        uv pip install -r requirements.txt
    - name: Check code formatting with Ruff
      run: |
        uv run ruff format --check .
    - name: Run Ruff Linter
      run: |
        uv run ruff check .
    - name: Run MyPy Type Checker
      run: |
        uv run mypy .
    - name: Run Bandit Security Scan
      run: |
        uv run bandit -r . -f github --confidence-level high --severity-level high --exclude ./.venv
    - name: Run Pytest
      run: |
        uv run pytest